.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

main {
  flex-grow: 1;
}

.btn {
  display: inline-block;
  font-family: 'Inter';
  padding: 12px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #3B42C5;
  background: rgba(59, 66, 197, 0.1);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(217.37deg, #700BD5 17.74%, #111ABF 99.42%), linear-gradient(130.09deg, #0BD5D2 -61.14%, #3B42C5 71.33%);
  color: #ffffff;
  box-shadow: 0px 0px 1px 2px #3B42C5;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
}

.btn-send {
  cursor: pointer;
  background-color: #3B42C5;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 18px 85px;
  border: none;
}

.btn-send:hover {
  box-shadow: 0px 0px 1px 2px #3B42C5;
}

.btn-send:active {
  box-shadow: 0px 0px 0px 0px;
}
