.AboutUsHero {
    background: linear-gradient(217.37deg, #700BD5 17.74%, #111ABF 99.42%), #D9D9D9;
    padding-top: 156px;
    padding-bottom: 104px;

    @media only screen and (max-width: 900px) {
        padding-top: 106px;
        padding-bottom: 50px;
    }

    &_top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 31px;

        @media only screen and (max-width: 700px) {
            flex-wrap: wrap;
        }

        &-text2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            opacity: 0.4;

            @media only screen and (max-width: 950px) {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px
            }
        }

        &-title {
            width: 100%;
            max-width: 614px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 56px;
            line-height: 56px;
            color: #FFFFFF;
            margin-top: 11px;
            margin-bottom: 39px;

            @media only screen and (max-width: 950px) {
                font-weight: 700;
                font-size: 50px;
                line-height: 50px;
            }

            @media only screen and (max-width: 800px) {
                max-width: 100%;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
            }
        }

        &-bss {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }

    &-text {
        width: 100%;
        max-width: 1080px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        color: #FFFFFF;

        @media only screen and (max-width: 950px) {
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;

        }

        @media only screen and (max-width: 650px) {

            font-size: 17px;
            line-height: 26px;

        }
    }
}

.Team {
    &-img {
        text-align: center;
        margin-bottom: 41px;
    }

    &-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        color: #171A4A;

        @media only screen and (max-width: 950px) {

            font-size: 26px;
            line-height: 32px;
        }

        @media only screen and (max-width: 800px) {

            font-size: 22px;
            line-height: 30px;
        }

    }

    &_member {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 93px;
        margin-bottom: 24px;

        @media only screen and (max-width:650px) {
            margin-top: 30px;
            margin-bottom: 10px;
        }

        &-item {
            width: 100%;
            margin-bottom: 80px;
            display: flex;
            align-items: flex-start;
            gap: 44px;

            @media only screen and (max-width:650px) {
                flex-wrap: wrap;
                gap: 20px;
            }
        }

        &-name {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 25px;
            line-height: 30px;
            width: 100%;
            color: #171A4A;
            margin-top: 20px;
            margin-bottom: 6px;
        }

        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #3B42C5;

        }

        &-dicr {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #171A4A;
            margin-top: 10px;
            opacity: 0.6;
        }
    }

    &_services {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;

        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #171A4A;
            margin-top: 80px;
            margin-bottom: 51px;

            @media only screen and (max-width: 950px) {
                font-size: 22px;
                line-height: 39px;
                margin-top: 20px;
                margin-bottom: 21px;
            }

        }

        &-item {
            cursor: pointer;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 29px;
            color: #3B42C5;
            width: 100%;
            max-width: 280px;
            margin-right: 10px;
            margin-bottom: 33px;

            @media only screen and (max-width: 950px) {
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                margin-right: 10px;
                margin-bottom: 14px;
            }


            &:hover {
                text-decoration: underline #3B42C5;
            }

            &:active {
                opacity: 0.5;
            }
        }
    }
}

.hello {
    padding: 5rem;
    background-color: red;
    color: #fff;
    height: 100vh;
    width: none;

    &-div {
        background-color: lightblue;
        height: 300px;
        width: 700px !important;

        h3 {
            text-align: center;
        }
    }
}