.Footer {
  padding-top: 64px;
}

.Footer-btn {
  border: none;
  background-color: #FFFFFF;
  border: 1px solid #171A4A;
  border-radius: 100px;
  padding: 15px 22px;
  margin-bottom: 25px;
}

.Footer_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Footer_center-left {
  display: flex;
  align-items: center;
}

.Footer_center-left ul {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #171A4A;
}

.Footer_center-left ul li {
  margin-right: 37px;
}

.Footer_center-left p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #171A4A;
  padding-right: 57px;
}

.Footer_center-right {
  display: flex;
  align-items: center;
}

.Footer_center-right p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #171A4A;
  padding-right: 40px;
}

.Footer_center-right img {
  margin-right: 30px;
}

.Footer_center-right img:last-child {
  margin-right: 0px;
}

.Footer_bottom {
  background: #171A4A;
  padding: 26px 0;
  color: #FFFFFF;
}

.Footer_bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer_bottom-left {
  display: flex;
  align-items: center;
}

.Footer_bottom-left p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-right: 34px;
}

.Footer_bottom-left ul {
  display: flex;
  align-items: center;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.Footer_bottom-left ul li {
  margin-right: 8px;
}

.Footer_bottom-right {
  display: flex;
  align-items: center;
}

.Footer_bottom-right p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-right: 8px;
}
