.header {
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;

    z-index: 100;
    color: white;

    &__logo>circle {
        fill: black;
    }

    &-munutext {
        margin-right: auto;
        margin-left: 34px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #171B4A;

    }

    &_burger {
        width: 24px;
        height: 2px;
        background: #171B4A;

        position: relative;
        margin-bottom: 3px;

        &::before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 2px;
            background: #171B4A;
            position: absolute;
            top: 5px;
            left: 0;
        }
    }

    .wrapLaga {
        position: absolute;
        top: 45px;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 14px 24px rgba(20, 32, 74, 0.25);
        border-radius: 4px;
        width: 100%;
        max-width: 184px;
        padding: 20px;
        padding-bottom: 8px;

        li {
            margin-bottom: 12px;

        }

    }

    .container_header {
        width: 100%;
        padding-top: 7px;
        padding-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_language {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #171B4A;
        margin-right: 21px;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: auto;

        &::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background-image: url('./assets/images/languageVector.svg');
        }

        &:hover {
            .wrapLaga {
                display: flex;

                &:hover {
                    display: flex;


                }

                li {
                    &:hover {
                        color: #3B42C5
                    }
                }
            }
        }
    }

    &_icons {
        img {
            &:first-child {
                margin-left: 32px;
            }

            cursor: pointer;
            margin-left: 25px;
        }
    }
}

.SiteBar {
    &_list {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin-right: auto;
        margin-left: 70px;


        &-item {
            margin-right: 30px;


            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
            }
        }

        &-link {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #171B4A;

        }
    }


}

.wrap {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    padding-top: 200px;
    padding-left: 35%;
}