.header {
    .container_header {
        width: 100%;
        padding-top: 7px;
        padding-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_language {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #171B4A;
        margin-right: 21px;


        &::before {
            content: "";
            display: inline-block;
            width: 8.85px;
            height: 12.67px;
            margin-right: 7.65px;
            background-image: url('./assets/images/languageVector.svg');
        }
    }

    &_icons {
        img {
            &:first-child {
                margin-left: 32px;
            }

            margin-left: 25px;
        }
    }
}

.SiteBar {
    &_list {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin-right: auto;
        margin-left: 70px;

        &-item {
            margin-right: 30px;
        }

        &-link {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #171B4A;

        }
    }


}