.hero {
    // background: linear-gradient(210.19deg, #4C0BD5 1.63%, #111ABF 101.24%);
    overflow: hidden;
    position: relative;
    padding-top: 134px;


    @media only screen and (max-width:1000px) {
        padding-top: 100px;
    }

    &__background {
        background: linear-gradient(225.78deg, #940BD5 18.31%, #111ABF 94.41%);
        opacity: 0.5;
        height: 94%;
        width: 100vw;
        top: 0;
        padding: none;
        position: absolute;
        z-index: 10;

    }


    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &_color {
        z-index: 0;

        &:first-child {
            position: absolute;
            top: -350px;
            right: -850px;
            width: 1107px;
            height: 1107px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(160.61deg);
            border-radius: 50%;
        }

        &:nth-child(2) {
            position: absolute;
            right: -750px;
            top: -377px;
            width: 1364.96px;
            height: 1364.96px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(174.92deg);
            border-radius: 50%;
        }

        &:nth-child(3) {
            position: absolute;
            right: -700px;
            top: -200px;
            width: 1507.3px;
            height: 1507.3px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(160.61deg);
            border-radius: 50%;
        }

        @media only screen and (max-width:1000px) {
            &:first-child {
                top: -230px;
                right: -930px;
            }

            &:nth-child(2) {
                top: -250px;
                right: -1020px;
            }

            &:nth-child(3) {
                top: -150px;
                right: -970px;
            }
        }

        @media only screen and (max-width:500px) {
            &:first-child {
                top: -100px;
                right: -930px;
            }

            &:nth-child(2) {
                top: -130px;
                right: -1020px;
            }

            &:nth-child(3) {
                top: -50px;
                right: -1000px;
            }
        }

    }

    &_left {
        width: 100%;
        max-width: 796px;
        margin-top: 38px;
        z-index: 100 !important;

        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 54px;
            line-height: 54px;
            color: #FFFFFF;

            @media screen and (min-width:1200px) {
                height: 162px;
            }

            @media only screen and (max-width:1100px) {

                font-weight: 900;
                font-size: 44px;
                line-height: 44px;
            }

            @media only screen and (max-width:500px) {
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
            }

        }

        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 24px;
            color: #FFFFFF;
            opacity: 0.6;
            margin-top: 16px;
            margin-bottom: 150px;
            width: 100%;
            max-width: 630px;

            @media only screen and (max-width:800px) {

                margin-bottom: 53px;
            }

            @media only screen and (max-width:500px) {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    &_right {
        background-color: #FFFFFF;
        z-index: 10;
        padding: 41px 40px 49px 40px;
        width: 100%;
        max-width: 325px;
        border: 1px solid #F1F1F4;

        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #171A4A;

        }

        &-tel {
            display: inline-block;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #171A4A;
            margin-top: 21px;
            margin-bottom: 2px;

        }

        &-gmail {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            text-decoration-line: underline;
            color: #3B42C5;
        }

        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #171A4A;
            margin-top: 41px;
            margin-bottom: 11px;
        }

        &-input {
            display: inline-block;
            width: 100%;
            background: #FFFFFF;
            border: 1px solid #EBECF9;
            border-radius: 3px;
            padding: 14px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #171A4A;
            margin-bottom: 46px;
        }
    }

    &-safety {
        display: flex;
        flex-wrap: wrap;


        @media only screen and (max-width:500px) {
            justify-content: center;
        }
    }


}

.hero-safety2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -154px;
    margin-bottom: 98px;
    z-index: 10;
}

.videoTag {
    height: 94%;
    width: 100vw;
    float: left;
    top: 0;
    padding: none;
    position: absolute;
    object-fit: cover;


}