.News {
  padding-bottom: 52px;
}

.News .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.News_left-btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3B42C5;
  margin-top: 69px;
  display: flex;
  align-items: center;
}

.News_left-btn::before {
  content: "";
  margin-right: 10px;
  width: 23px;
  height: 23px;
  display: inline-block;
  background-image: url("./assets/images/Grouplef.svg");
}

.NewsBox {
  width: 100%;
  max-width: 393px;
  margin-left: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(23, 26, 74, 0.1);
  margin-bottom: 5px;
  cursor: pointer;
}

.NewsBox-img2 {
  display: none;
}

.NewsBox:hover .NewsBox-img2 {
  display: block;
  transform: translate(300px, 0);
}

.NewsBox-top {
  padding: 49px 18px 22px 39px;
}

.NewsBox-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #171A4A;
}

.NewsBox-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #171A4A;
  opacity: 0.7;
  margin-top: 16px;
  margin-bottom: 22px;
}

.NewsBox-btnimg {
  text-align: right;
  height: 22px;
}

.NewsBox-img2 {
  transition: all 10s;
}

.setting {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EBECF9;
  border-radius: 3px;
  padding: 10px;
  padding-right: 19px;
  margin-top: 148px;
}

.setting-div {
  display: flex;
  align-items: center;
}

.setting-img {
  width: 70px;
  height: 70px;
  padding: 14px;
  border-radius: 50%;
  background: #F2F4F7;
  margin-right: 21px;
}

.setting-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #171A4A;
  width: 100%;
  max-width: 475px;
}
