.Newshero {
  background: linear-gradient(217.37deg, #700BD5 17.74%, #111ABF 99.42%), #D9D9D9;
  padding-bottom: 98px;
  padding-top: 156px;
}

.Newshero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Newshero_left {
  width: 100%;
  max-width: 714px;
}

.Newshero_left-data {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.Newshero_left-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 4px;
  margin-bottom: 42px;
}

.Newshero_left-btn {
  display: flex;
  align-items: center;
}

.Newshero_left-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  opacity: 0.8;
  display: flex;
  align-items: center;
}

.Newshero_left-text:nth-child(1) {
  margin-right: 29px;
}

.Newshero_left-text:nth-child(1)::before {
  content: "";
  margin-right: 9px;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("./assets/images/Iconsshar.svg");
  background-position: center;
  background-size: contain;
}

.Newshero_left-text:nth-child(2)::before {
  content: "";
  margin-right: 9px;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("./assets/images/Iconsey.svg");
  background-position: center;
  background-size: contain;
}

.Newshero_right {
  width: 100%;
  max-width: 246px;
}

.Newshero_right-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 28px;
}

.newsText {
  margin-top: -70px;
  margin-bottom: 96px;
}

.newsText img {
  margin-bottom: 47px;
}

.newsText-wrap {
  display: flex;
  justify-content: space-between;
}

.newsText-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #121212;
  width: 100%;
  max-width: 588px;
}
