.Object {
    padding-top: 91px;
    padding-bottom: 87px;
    background-color: #F2F4F7;

    &_region {
        padding-top: 21px;
        padding-bottom: 114px;
        position: relative;

        @media only screen and (min-width:549px) {
            width: 100%;
            max-width: 1240px;
            margin: 0 auto;
            padding: 0 20px;
        }

        @media only screen and (max-width:1170px) {
            padding-bottom: 490px;
        }

        @media only screen and (max-width:700px) {
            padding-bottom: 252px;
        }

        @media only screen and (max-width:548px) {
            &-div {
                padding-left: 20px;
                padding-right: 20px;
                background-color: #FFFFFF;
                padding-top: 21px;
            }

            padding-top: 0;
            margin-top: 61px;
        }

        &-icons {
            display: flex;
            align-items: center;

            @media only screen and (max-width:548px) {
                margin-top: 15px;

            }


            div {
                cursor: pointer;

                &:hover {
                    opacity: 0.3;
                }

                &:active {
                    opacity: 1;
                }
            }
        }

        &-images {
            position: absolute;
            right: 95px;
            width: 413px;
            height: 581px;
            object-fit: cover;

            @media only screen and (min-width:1171px) {
                top: 20px;
            }

            @media only screen and (max-width:700px) {
                width: 250px;
                height: 352px;
                bottom: 150px;
            }

        }

        &-images2 {
            position: absolute;
            object-fit: cover;
            right: 45px;
            opacity: 0.7;
            width: 335px;
            height: 441px;

            @media only screen and (min-width:1171px) {
                top: 223px;

            }

            @media only screen and (max-width:1170px) {
                bottom: 145px;

            }

            @media only screen and (max-width:700px) {
                width: 200px;
                height: 300px;
                bottom: 115px;
            }

        }

        &-images3 {
            position: absolute;
            object-fit: cover;
            right: 65px;
            width: 377px;
            height: 515px;

            @media only screen and (min-width:1171px) {
                top: 120px;

            }

            @media only screen and (max-width:1170px) {
                bottom: 180px;

            }

            @media only screen and (max-width:700px) {
                width: 220px;
                height: 320px;
                bottom: 132px;
            }
        }

        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 44px;
            line-height: 53px;

            color: #171A4A;

            opacity: 0.6;
            margin-bottom: 14px;
            margin-top: 56px;
            margin-left: 48px;
            width: 100%;
            max-width: 560px;

            @media only screen and (max-width:700px) {
                margin-left: 0;
                font-weight: 800;
                font-size: 24px;
                line-height: 29px;
            }

            @media only screen and (max-width:548px) {

                margin: 0;
                margin-bottom: 15px;

            }
        }

        &-year {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #171A4A;

            opacity: 0.4;
            margin-left: 48px;

            @media only screen and (max-width:548px) {


                margin-left: 0;
            }
        }


        &-wrap {
            background: #FFFFFF;
            padding: 56px 20px 69px 48px;
            margin-top: 26px;




            @media only screen and (min-width:1171px) {
                margin-bottom: 210px;
            }

            @media only screen and (max-width:1170px) {
                min-height: 538px;
            }

            @media only screen and (max-width:548px) {

                padding: 0;
                padding-top: 30px;
                margin-top: 0;
            }
        }

        &-btns {
            display: flex;
            align-items: center;
            margin-bottom: 24px;

            @media only screen and (max-width:548px) {

                margin-bottom: 0;
                margin-left: auto;
            }
        }

        &-btn {
            width: 7.58px;
            height: 7.58px;
            background: #171A4A;
            border-radius: 50%;
            margin-left: 4.33px;

        }

        &-btnClick {
            width: 15px;
            height: 15px;
            border: 1.5px solid #171A4A;
            color: #FFFFFF;
            border-radius: 50%;
            position: relative;

            &:nth-child(2) {
                margin-left: 5px;
            }

            &:nth-child(3) {
                margin-left: 5px;
            }

            &::after {
                content: "";
                display: inline-block;
                width: 7.58px;
                height: 7.58px;
                background: #171A4A;
                border-radius: 50%;
                position: absolute;
                top: 22%;
                right: 22%;
            }
        }

        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #171A4A;
            width: 100%;
            max-width: 547px;
            padding-bottom: 39px;
            height: 150px;
            overflow: hidden;
        }

        &-iconright {
            margin-right: 20px;
        }
    }


}

.Title {
    &-span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #3B42C5;


    }

    &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 34px;
        color: #171A4A;
        margin-bottom: 9px;
        margin-top: 7px;

        @media only screen and (max-width:765px) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    &-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        color: #171A4A;

        @media only screen and (max-width:765px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }
}

.Titles-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.NeedKnow {
    width: 100%;
    max-width: 384px;
    padding: 42px 55px 70px 47px;
    background: #FFFFFF;
    text-align: center;


    @media only screen and (max-width:1232px) {
        margin-bottom: 20px;
    }

    @media only screen and (max-width:848px) {
        max-width: 100%;
    }


    &-wrap {
        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 53px;
        }

    }
}

.ObjectHeros {
    padding-top: 138px;
    padding-bottom: 152px;
    background: linear-gradient(217.37deg, #700BD5 17.74%, #111ABF 99.42%), #D9D9D9;

    &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
        margin-top: 7px;
        margin-bottom: 9px;
    }

    &-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        color: #FFFFFF;
    }

    &-object {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        opacity: 0.4;
    }
}

.ObjectText {
    margin-top: -112px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
    flex-wrap: wrap;

    &-item {
        background: linear-gradient(14.71deg, #FFFFFF 6.07%, #EEEEF0 72.26%);
        border-radius: 4px;
        margin-bottom: 24px;
        width: 100%;
        max-width: 690px;
        cursor: pointer;


        &:nth-child(even) {
            max-width: 486px;

            @media only screen and (max-width:1060px) {
                max-width: 690px;
            }
        }

        @media only screen and (max-width:1300px) {
            max-width: 486px;
        }


        @media only screen and (max-width:1060px) {
            max-width: 690px;
        }
    }

    &-top {
        padding: 28px 41px 24px 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        border-bottom: 1px solid hsl(237, 50%, 28%, 0.2);
    }

    &-text2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #23266A;
        padding: 32px 40px;
    }
}