.ObjectsHero {
    background: linear-gradient(217.37deg, #700BD5 17.74%, #111ABF 99.42%), #D9D9D9;
    padding-top: 156px;
    padding-bottom: 74px;

    &-ltitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-bottom: 4px;
    }

    &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
    }

    &-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-top: 15px;
        margin-bottom: 69px;
        width: 100%;
        max-width: 246px;
    }

    &-tbn {
        display: inline-block;
        cursor: pointer;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #FFFFFF;

        &::before {
            content: "";
            margin-right: 10px;
            width: 23px;
            height: 23px;
            display: inline-block;
            background-image: url("./assets/images/Group 48097124.svg");
        }
    }
}

.object_cardtop {
    margin-top: -302px;

    .container {
        display: flex;
        justify-content: flex-end;
    }
}

.object_card {
    .container {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    margin-bottom: 81px;
}