.Partners {
    background: #F2F4F7;
    padding-top: 70px;
    padding-bottom: 93px;

    &-Wrap {
        display: flex;
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        margin-top: 19px;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.PartnersBox {
    background: #FFFFFF;
    width: 240px;
    padding: 54px 50px;
    text-align: center;

    &-img {
        width: 104px;
        height: 104px;
        border-radius: 50%;
        margin: 0 auto;
        object-fit: cover;
    }

    &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
        color: #171A4A;
        margin-top: 20px;
        margin-bottom: 12px;
    }
}