.Partners {
  background: #F2F4F7;
  padding-top: 70px;
  padding-bottom: 93px;
}

.Partners-Wrap {
  background: #FFFFFF;
  display: flex;
  margin-top: 19px;
}

.PartnersBox {
  width: 100%;
  max-width: 240px;
  padding: 54px 50px;
  text-align: center;
}

.PartnersBox-img {
  background: #F2F4F7;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  margin: 0 auto;
}

.PartnersBox-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #171A4A;
  margin-top: 20px;
  margin-bottom: 12px;
}
