.serviceHero {
  background: linear-gradient(217.37deg, #700BD5 17.74%, #111ABF 99.42%), #D9D9D9;
  padding-top: 68px;
  padding-bottom: 212px;
}

.serviceHero-ltitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  opacity: 0.4;
}

.serviceHero-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  margin-top: 7px;
  margin-bottom: 9px;
}

.serviceHero-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: #FFFFFF;
}
