.Uzbek {
    position: relative;
    background: linear-gradient(232.21deg, #700BD5 21.12%, #111ABF 98.35%);
    overflow: hidden;
    margin-bottom: 143px;
    padding-top: 30px;
    padding-bottom: 40px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFFFFF;
    }

    &-right {
        width: 100%;
        max-width: 506px;
    }

    &-imgwrap {
        width: 100%;
        max-width: 750px;
        position: relative;

    }


    &-imgrount {
        position: absolute;
        top: 290px;
        left: 405px;
        cursor: pointer;
        animation: test 1s ease-in infinite;
    }


    &-imgrount2 {
        position: absolute;
        top: 260px;
        left: 310px;
        cursor: pointer;
        animation: test 1s ease-in infinite;
    }

    &-backcoler {
        &:nth-child(1) {
            position: absolute;
            width: 1107px;
            height: 1107px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(140.07deg);
            top: -620px;
            right: -40%;
            border-radius: 50%;

        }

        &:nth-child(2) {
            position: absolute;
            width: 1364.96px;
            height: 1364.96px;
            right: -39%;
            top: -500px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(154.37deg);
            border-radius: 50%;
        }

        &:nth-child(3) {
            position: absolute;
            width: 1507.3px;
            height: 1507.3px;
            right: -39%;
            top: -230px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(140.07deg);
            border-radius: 50%;
        }

    }

    &-country {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.8;
    }

    &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 40px;
        color: #FFFFFF;
        margin-top: 16px;
        margin-bottom: 29px;
    }

    &-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        opacity: 0.8;
    }
}

@keyframes test {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}