.Uzbek {
    position: relative;
    background: linear-gradient(232.21deg, #700BD5 21.12%, #111ABF 98.35%);
    overflow: hidden;
    margin-bottom: 143px;
    padding-top: 90px;
    padding-bottom: 171px;

    @media only screen and (max-width:900px) {
        padding-top: 30px;
        padding-bottom: 40px;
    }


    &-right {
        width: 100%;
        max-width: 506px;
    }

    &-imgwrap {
        width: 100%;
        max-width: 750px;
        position: relative;

    }


    &-imgrount {
        position: absolute;
        top: 290px;
        left: 405px;
        cursor: pointer;
        animation: test 1s ease-in infinite;
    }


    &-imgrount2 {
        position: absolute;
        top: 260px;
        left: 310px;
        cursor: pointer;
        animation: test 1s ease-in infinite;
    }

    &-backcoler {
        &:nth-child(1) {
            position: absolute;
            width: 1107px;
            height: 1107px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(140.07deg);
            top: -620px;
            right: -40%;
            border-radius: 50%;

        }

        &:nth-child(2) {
            position: absolute;
            width: 1364.96px;
            height: 1364.96px;
            right: -39%;
            top: -500px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(154.37deg);
            border-radius: 50%;
        }

        &:nth-child(3) {
            position: absolute;
            width: 1507.3px;
            height: 1507.3px;
            right: -39%;
            top: -230px;
            background: linear-gradient(202.32deg, #FFFFFF 14.55%, rgba(255, 255, 255, 0) 90.62%);
            opacity: 0.2;
            transform: rotate(140.07deg);
            border-radius: 50%;
        }

        @media only screen and (max-width:1400px) {
            &:first-child {
                top: -550px;
                right: -60%;
            }

            &:nth-child(2) {

                right: -65%;
            }

            &:nth-child(3) {

                right: -55%;
            }
        }

        @media only screen and (max-width:1000px) {
            &:first-child {
                top: -500px;
                right: -78%;
            }

            &:nth-child(2) {

                right: -90%;
            }

            &:nth-child(3) {

                right: -80%;
            }
        }

        @media only screen and (max-width:1000px) {
            &:first-child {
                top: -400px;
                right: -110%;
            }

            &:nth-child(2) {

                right: -120%;
            }

            &:nth-child(3) {

                right: -110%;
            }
        }


        @media only screen and (max-width:650px) {
            &:first-child {
                top: -210px;
                right: -140%;
            }

            &:nth-child(2) {
                right: -160%;
                top: -340px;
            }

            &:nth-child(3) {
                top: -340px;
                right: -160%;
            }
        }

        @media only screen and (max-width:650px) {
            &:first-child {
                top: -210px;
                right: -140%;
            }

            &:nth-child(2) {
                right: -160%;
                top: -340px;
            }

            &:nth-child(3) {
                top: -340px;
                right: -160%;
            }
        }

        @media only screen and (max-width:570px) {
            &:first-child {

                right: -180%;
            }

            &:nth-child(2) {
                right: -200%;

            }

            &:nth-child(3) {

                right: -200%;
            }
        }

        @media only screen and (max-width:570px) {
            &:first-child {

                right: -200%;
            }

            &:nth-child(2) {
                right: -235%;

            }

            &:nth-child(3) {

                right: -240%;
            }
        }

        @media only screen and (max-width:450px) {
            &:first-child {

                right: -230%;
            }

            &:nth-child(2) {
                right: -265%;

            }

            &:nth-child(3) {

                right: -270%;
            }
        }

        @media only screen and (max-width:400px) {
            &:first-child {

                right: -250%;
            }

            &:nth-child(2) {
                right: -285%;

            }

            &:nth-child(3) {

                right: -290%;
            }
        }
    }

    &-country {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.8;


    }

    &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 40px;
        color: #FFFFFF;
        margin-top: 16px;
        margin-bottom: 29px;

        @media only screen and (max-width:1100px) {
            font-weight: 700;
            font-size: 24px;
            line-height: 26px
        }


    }

    &-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        opacity: 0.8;
    }
}

@keyframes test {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.Accredited {
    &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 40px;


        color: #FFFFFF;
        margin-bottom: 95px;

        @media only screen and (max-width:990px) {
            margin-bottom: 45px;
            font-size: 32px;
            line-height: 32px;
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 146px;

        @media only screen and (max-width:1100px) {
            gap: 100px;
        }

        @media only screen and (max-width:900px) {
            gap: 50px;
            flex-wrap: wrap;
        }

        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            color: #FFFFFF;
            margin-top: 47px;
            margin-bottom: 23px;

            @media only screen and (max-width:1140px) {
                width: 100%;
                font-size: 32px;
                line-height: 34px;
                margin-top: 42px;
                margin-bottom: 20px;
            }

            @media only screen and (max-width:990px) {
                width: 100%;
                font-size: 30px;
                line-height: 32px;
                margin-top: 32px;
                margin-bottom: 16px;
            }

        }

        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color: #FFFFFF;
            opacity: 0.7;
        }

        &-card {
            &:first-child {
                .Accredited__wrap-title {

                    width: 300px;
                    margin-top: 36px;

                    @media only screen and (max-width:900px) {
                        width: 100%;
                    }
                }
            }
        }
    }


}